@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /*  tailwind for dev mode */
    /* --color-primary: #2dd33d;
    --color-secondary: #5eead4;
    --color-light: #ddf8f4;
    --color-dark: #0f172a;
    --color-background: #e7e7e7;
    --glow-primary: 0px 0px 3px 5px #2dd33d;
    --glow-favorite: 0px -2px 3px 6px #2dd33d; */
}
